

<!--@if (isLogin()) {-->
<div class="flex flex-wrap justify-center">
  <div class="w-[8/12]">
    <span class="title">Login</span>
  </div>
  <div class="w-[8/12]">
    <form [formGroup]="loginForm" class="p-fluid mt-[20px]">
      <div class="flex items-center gap-4 mb-4">
        <label for="email" class="font-semibold w-34">Email *</label>
        <input pInputText type="email" formControlName="email" id="email" class="" autocomplete="off"/>
      </div>
      <div class="flex items-center gap-4 mb-4">
        <label for="password" class="font-semibold w-34">Mot de passe *</label>
        <input pInputText formControlName="password" id="password" class="" autocomplete="off" />
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
        <p-button label="Save" (click)="doLogin()" />
      </div>
    </form>
  </div>
</div>
<!--} @else {-->
<div class="flex flex-wrap justify-center">
    <div class="w-[8/12]">
      <span class="title">Créer User</span>
    </div>
    <div class="w-[8/12]">
      <form [formGroup]="userForm" class="p-fluid  mt-[20px]">
        <div class="flex items-center gap-4 mb-4">
          <label for="nom" class="font-semibold w-24">Nom *</label>
          <input pInputText id="nom" formControlName="nom" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex items-center gap-4 mb-4">
          <label for="prenom" class="font-semibold w-24">Prenom *</label>
          <input pInputText id="prenom" formControlName="prenom" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex items-center gap-4 mb-4">
          <label for="email" class="font-semibold w-24">Email *</label>
          <input pInputText type="email" formControlName="email" id="email" class="" autocomplete="off"/>
        </div>
        <div class="flex items-center gap-4 mb-4">
          <label for="password" class="font-semibold w-24">Mot de passe *</label>
          <input pInputText formControlName="password" id="password" class="" autocomplete="off" />
        </div>
        <div class="flex items-center gap-4 mb-8">
          <label for="distance" class="font-semibold w-24">Date *</label>
          <div class="form-field"
               [class.invalid]="userForm.controls.ddn.invalid &&
          userForm.controls.ddn.touched">
            <p-datepicker formControlName="ddn" appendTo="body"></p-datepicker>
          </div>
        </div>
        <div class="flex justify-end gap-2">
          <p-button label="Cancel" severity="secondary" (click)="closeDialog()" />
          <p-button label="Save" (click)="createUser()" />
        </div>
      </form>
    </div>
  </div>
<!--}-->
