@if (course()) {
  <p-card [style]="{ width: '30rem', overflow: 'hidden' }">
    <ng-template #header>
      <div class="right mr-[10px] mt-[10px]">
        <p-button icon="pi pi-times" (onClick)="deleteRace()" />
      </div>
    </ng-template>
    <ng-template #title>
      {{course()!.titre}}
    </ng-template>
    <div class="flex flex-wrap">
      <div class="w-10/12 flex flex-wrap">
        <div class="w-full">
          <span>
            {{(course()!.distance / 1000) + ' Km'}} {{ ' - ' + course()!.denivele + 'D+'}}
          </span>
        </div>
        @if ( course()!.nomCourse) {
          <div class="w-full">
                {{course()!.nomCourse}}
          </div>
        }
        <div class="w-full">
          <span>
            {{course()!.date | date: 'fullDate'}}
          </span>
        </div>
        @if (showTimeLeft()) {
          <span>
            Temps restant: <span class="remaingDays">{{getRemaingDays(course()!.date) + ' jours'}}</span>
          </span>
        }
      </div>
    </div>
  </p-card>
}
